doctype
html
	head
		meta(charset='utf-8')
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title Nodo/CTIN
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css", type="text/css")
		link(rel="stylesheet", href="css/style.css", type="text/css")
		script(src="js/jquery-1.12.1.min.js")
		script(src="js/functions.js")
	body
		.main
			.cover
				.wrap
					.cover-logo
						img(src="img/nodo-logo.svg")
					.cover-description
						h1
							| <strong class="cover-name">Nodo</strong> es una reunión mensual donde <strong>compartimos</strong> conocimiento y experiencias mediante charlas relacionadas a la <strong>tecnología</strong> de una <strong>forma libre y abierta.</strong>
					.cover-scroll
						img(src="img/chevron-down.svg")
			.event
				.wrap
					.event-info
						h4 Jueves 10 de marzo
						h2 Episodio 1: Multimedia
						p
							| Invitamos a un grupo de artistas digitales con proyectos activos en el circuito de arte digital a compartir sus experiencias, historias, triunfos, fracasos y nos hablen de <strong>cómo la tecnología los empodera</strong> para llevar a cabo sus proyectos y qué estrategias usan para enfrentar distintas adversidades tecnológicas, así también motivar a los becarios para ser más autogestivos e innovadores.
					.event-profiles
						//h2 Perfiles del evento
						.profile-block
							.profile-block-photo
								img(src="img/profiles/carlos-xi-ximenez.png")
								h3 Carlos Ximénez
								small
									| <a href="">Sitio web</a> · <a href="">Twitter</a>
							.profile-block-description
								h3 Tema: Multimedia aplicada a artes escenicas y visuales
								p Practica la manipulación de video en vivo desde hace nueve años en artes escénicas, instalaciones artísticas y eventos de música. Centra su temática en pro de una reflexión sobre el cuerpo y la vida. Considera el vídeo como una extensión de la pintura y el vj como un acto contra el flujo acéfalo de la televisión.
						.profile-block
							.profile-block-photo
								img(src="img/profiles/cristian-cardenas-giral.png")
								h3 Cristian Cardenas
								small
									| <a href="">Sitio web</a> · <a href="">Twitter</a>
							.profile-block-description
								h3 Tema: Alquimia Digital
								p Cristian Cárdenas ha trabajado durante 15 años como artista digital, desenvolviéndose en distintas disciplinas, tanto visuales como sonoras, con un principal interés en la narrativa, la experimentación y la Interdisciplinariedad. Como artista ha tenido exhibiciones, pláticas y presentaciones de su trabajo en importantes festivales, congresos y exposiciones en México y en distintas partes del mundo como Tokyo, Yokohama, Chicago y Nueva Delhi.
						.profile-block
							.profile-block-photo
								img(src="img/profiles/jose-carlos-hasbun.png")
								h3 Jose Carlos Hasbun
								small
									| <a href="">Sitio web</a> · <a href="">Twitter</a>
							.profile-block-description
								h3
									| <strong>Tema:</strong> Live coding y síntesis de audio
								p JoseCaos es un proyecto personal y atemporal enfocado a la experimentación como medio para el aprendizaje, enseñanza y esparcimiento del sonido, usando principalmente código como herramienta.
					.event-register
						h2 Lugar y registro
						p 
							| <strong>Centro de tecnología e innovación</strong> Plaza Carso. Edificio Frisco Piso 4 — Lago Zurich 245, Ampliación Granada, Miguel Hidalgo.
						.event-register-action
							a.button(href="https://www.eventbrite.com/e/nodo-tickets-22132562089" target="_blank") Registrarme en Eventbrite
			.footer
				.wrap
					.colophon
						img(src="img/ctin-logo.svg")
						p 2016 — Centro de Tecnología e Innovación
						p
							| <a href="#">Contacto</a> · <a href="#">Github</a> · <a href="#">Twitter</a>
